.nav {
  background-color: #ced;
  padding: 7px;
  text-align: center;
  margin: 15px;
}

.menu { /* inactive */
  color: blue;
  text-decoration: none;
  padding: 2px 5px;
}

.active_menu { /* active */
  color: red;
  background-color: yellow;
  text-decoration: none;
  padding: 2px 5px;
}
